#blog h3 {
  text-align: center;
  font-size: 25px;
}

#blog h4 {
  text-align: center;
}

#blog .contenedor {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#blog article {
  margin: 15px;
}

#blog img {
  width: 100%;
  max-width: 550px;
}
